[Unit]
Description = {{COMPONENT}} Service
After=network.target

[Service]
User={{USER}}
ExecStart=/usr/bin/node server.js
SyslogIdentifier={{SERVICE}}
WorkingDirectory=/home/{{USER}}/{{COMPONENT}}/
# StandardOutput=syslog
# StandardError=syslog
# Environment=MONGO_ENDPOINT="mongodb://mongodb-{{ENV}}.chaitu.org:27017/login-app-db"
Environment=MONGO_ENDPOINT="mongodb://localhost:27017/login-app-db"

[Install]
WantedBy=multi-user.target